{
  "extends": ["airbnb", "prettier", "plugin:cypress/recommended"],
  "plugins": ["prettier", "cypress"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.js", "**/*.spec.js", "cypress/**/*.js"] }
    ]
  }
}
